{% extends 'recipes/recipe.html.twig' %}
{# ~ permet de concaterner #}
{% block title "Catégorie " ~ "modifier"  %}

{% block body %}
    <h1>Modifier une catégorie</h1>
    <div>
        
        {{ form_start(form) }}
            <div class="d-flex md-5">
                {{ form_row(form.name) }}
            </div>
           
        {{ form_end(form) }}
        
    </div>
{% endblock %}