{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ dump(app) }}
    <h1>Hello ! ✅</h1>

    <article>
        <h2> Premier article </h2>
        <p>
            {{texte}}
            Consequat esse aliquip aliquip exercitation enim adipisicing veniam nulla. Magna enim consectetur esse laborum tempor. Veniam sit ut mollit laborum incididunt magna non sunt. Ullamco irure nostrud adipisicing do dolore do. Pariatur ullamco irure duis cupidatat cillum quis Lorem. Lorem sit cillum pariatur excepteur sunt ea culpa non. Ipsum non commodo fugiat esse.

            Occaecat deserunt mollit irure occaecat mollit eiusmod ex mollit. Proident dolore officia aliquip nostrud est tempor laboris nulla fugiat qui aute reprehenderit ea. Consequat eu ea eu dolor amet non deserunt sint in incididunt eiusmod labore deserunt. Proident fugiat in in eiusmod esse ullamco.

            Culpa reprehenderit ex anim in aute sit. Occaecat velit culpa non quis exercitation minim ex cupidatat ullamco et do quis. In proident laborum aute commodo Lorem labore fugiat nulla ullamco duis magna tempor nisi cillum. Ea nostrud velit proident velit officia tempor occaecat.

            Aliquip quis dolor elit et mollit do aute incididunt nisi laborum eiusmod id. Enim ullamco laboris ipsum id do laborum quis laboris eiusmod reprehenderit aliquip incididunt ex. Labore aute proident duis quis est laboris veniam tempor pariatur. Ad voluptate quis adipisicing quis eiusmod sunt incididunt.
        </p>
    </article>
{% endblock %}
