<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

