<ul>
    <li class="nav-item">
        <a class="nav-link {{ app.current_route starts with 'admin.users.' ? 'active' : '' }}" href="{{ path('admin.users.list') }}">Les utilisateurs</a>
    </li>
</ul>