
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if is_granted('ROLE_VERIFIED') %}
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_register') }}"> s'enregistrer </a>
            ou
            <a href="{{ path('app_login') }}"> Se connecter </a>
        {% endif %}
    </div>
