<li class="nav-item">
    <a class="nav-link {{ app.current_route starts with 'recipes.recipe.' ? 'active' : '' }}" href="{{ path('recipes.recipe.index') }}">Les recettes</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ app.current_route starts with 'recipes.category.' ? 'active' : '' }}" href="{{ path('recipes.category.index') }}">Les catégories</a>
</li>